button,
input,
textarea {
  box-sizing: border-box;
  display: block;
}

input,
textarea {
  width: 100%;
}

input:focus,
textarea:focus {
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
  outline: none;
}

input {
  height: 2.5em;
  /* for IE */
  vertical-align: middle;
  /* This is optional but it makes legacy IEs look better */
}

textarea {
  padding: 10px;
  margin: 10px 0 0 -10px;
  min-height: 12rem;

  resize: none;
  overflow: auto;
}

label,
select {
  display: inline-block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  &-content {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    max-width: 550px;
    margin: 10% auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    animation: modal-open .5s ease-in;
    padding: 1.75rem;
  }

  .input-group {
    margin-bottom: 1rem;
  }

  #addReview {
    margin-left: 0;
    min-width: 10rem;
    letter-spacing: .0125rem;
  }

  select {
    min-height: 35px;
    min-width: 35px;
  }
}

.close-btn {
  color: #ccc;
  font-size: 32px;
  float: right;
  display: block;

  &:hover,
  &:focus {
    color: #000;
    cursor: pointer;
    text-decoration: none;
  }

  &::after {
    clear: both;
  }
}


@keyframes modal-open {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes modal-close {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}